*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(../image/back-desktop.png);
    background-size: 100%;
}
.asosiy{
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    
}
.main-container__logo{
    display: inline-block;
    vertical-align: middle;
}
.main-container__logo:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.main-container__logo img{
    display: inline-block;
    margin: 20px 100px;
}
.main__navigation{
    display: inline-block;
    vertical-align: middle;
    margin-left: 500px;
}
.main-navigation__item{
    display: inline-block;
}
.main-navigation__item:hover{
    transform: scale(1.1);
     background-color: blue;
}
.main-navigation__item a{
    display: inline-block;
    padding: 10px 30px;
    color: snow;
    text-decoration: none;
    text-transform: capitalize;
}
.main-section{
    float: left;
    color:white;
    margin: 50px 100px;
    text-align: center;
}
.main-section__paragraph{
    display: inline-block;
    float: left;
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 20px;
    color: #fff;
}
.main-section__text{
    width: 300px;
    height: 50px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px; 
    margin-bottom: 20px;
   cursor: pointer;
}
.main-section__text:hover{
    background-color: pink;
}
.main-section__text:active{
    background-color: cornflowerblue;
}
.main-section__text a{
    color: white;
    text-decoration: none;
}
.main-section a{
    padding: 20px;
} 
.main-section p{
    display: inline-block;
    margin-top: 20px;
}
.image__phone{
    display: inline-block;
    margin-top:110px;
    width: 900px;
    margin-left:-10px;
}
.image__background{
    position: absolute;
    width: 200px;
    left: 990px;
    margin-top: 160px;
}
.section-image:hover{
    transform: scale(1.1);
}

    